.view-group .col-xs-3 {
  padding: 10px;
  /* padding-right: 0; */
}
.innovative h4 {
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  position: absolute;
  width: max-content;
  top: 10px;
}
#filterOption {
  position: relative;
  left: 230px;
}
#filterOption:focus-visible {
  outline: none;
}
#filterOption option {
  background: #2a2a2b;
}
/* .innovative i{
    position: relative;
    left: 26px;
    top: -24px;
    opacity: 0.4;
} */
.innovative {
  position: relative;
}
.jury-cla {
  position: absolute;
  left: 250px;
  width: max-content;
}
.img-top-text {
  position: absolute;
  background: #757af7;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}
.card {
  background: #2a2a2b;
  width: 100%;
}
.content .p1 {
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #c8c8c8;
  margin-top: 20px;
  margin-bottom: 4px;
}
.content .p2 {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.content .p4 {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.view3 a {
  cursor: pointer;
}
input[type="search"] {
  background: #2a2a2b;
  border-radius: 2px;
  height: 41px;
  border: none;
  width: 187px;
  margin-left: 20px;
  /* position: relative;
    padding-left: 30px;
    width: 128px;
    display: inline-block; */
}
.bx-search:before {
  content: "\eb54";
  font-size: 20px !important;
}
.view {
  height: 41px;
  opacity: 0.2;
  border: 1px solid #c8c8c8;
  width: 128px;
}
.view .active {
  background-color: #757af770 !important;
  border-bottom: 3px solid #757af7;
  color: #fff !important;
  width: 100%;
}
.view #list,
.view #grid {
  color: #c8c8c8;
  background: none;
  border-left: none;
}
.view-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}
.thumbnail {
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.item.list-group-item {
  float: none;
  width: 100%;
  background-color: #212121;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1rem;
  border: 0;
}
.item.list-group-item .img-event {
  float: left;
  width: 30%;
}

.item.list-group-item .list-group-image {
  margin-right: 10px;
}
.item.list-group-item .thumbnail {
  margin-bottom: 0px;
  display: inline-block;
}
.item.list-group-item .caption {
  float: left;
  width: 70%;
  margin: 0;
}

.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: " ";
}

.item.list-group-item:after {
  clear: both;
}
.table-group {
  background-color: #2a2a2b;
  padding-top: 20px;
}
.table tr th {
  width: 62px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #c8c8c8;
}
.table tr td {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.bx-play-circle:before {
  content: "\eb1f";
  font-size: 20px;
}
/* #list-table{
    display: none;
} */
.bx-search {
  color: #c8c8c8;
  position: absolute;
  top: -1px;
  left: 169px;
}
.view li {
  width: 50%;
  text-align: center;
}
.img-icon i {
  position: absolute;
  top: 50px;
  left: 50%;
}
.video-res:before {
  content: "";
  background: #f3e9e90d;
}
.video-body .play {
  font-size: 3rem;
  opacity: unset !important;
  margin-bottom: unset !important;
  color: #fff;
}
.video-res {
  padding: unset !important;
  width: unset !important;
}
.content {
  padding: 20px;
  background: #2a2a2b;
  margin-bottom: 20px;
}
/* project-detial */
.jury-action {
  padding: 20px;
}
.jury-con {
  padding-top: 20px;
}
.jury-btn {
  padding: 20px;
}
.jury-btn input[type="submit"] {
  padding: 5px 10px;
}
/* jury popup */
#jurytop10 .modal-content,
#removeTop10 .modal-content {
  background: #2a2a2b;
}
#jurytop10 .modal-content .jurymodal-title,
#removeTop10 .modal-content .jurymodal-title {
  color: #ffffff;
}
#jurytop10 .modal-content .jurymodal-description,
#removeTop10 .modal-content .jurymodal-remove {
  color: #c8c8c8;
}
#jurytop10 .modal-content .jurytop10Btn,
#removeTop10 .modal-content .jurytop10Btn {
  float: right;
}
#jurytop10 .modal-content .jurytop10Btn input[type="submit"],
#removeTop10 .modal-content .jurytop10Btn input[type="submit"] {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 16px;
}
#jurytop10 .modal-content .jurytop10Btn a {
  font-size: 14px;
  line-height: 16px;
  padding-right: 10px;
}
.jury-content {
  background: #212121;
  padding: 20px;
  width: max-content;
}
.jury-cla .change-text {
  cursor: pointer;
}
.juryaction-grid-view-icon {
  color: #fff !important;
}

@media (max-width: 768px) {
  .dashboard-mid .col-md-3 {
    padding: 6px 8px;
  }
  #portal-space {
    margin-top: 60px;
  }
  .dashboard-mid .row {
    margin-top: 0px !important;
  }
  .wename {
    display: none;
  }
  .myprofile {
    min-width: 97px;
  }
  .sub-myaccount {
    position: absolute;
    right: 0px;
    top: 60px;
    width: 155%;
  }
  .innovative {
    margin-top: 15px;
    /* position: relative; */
  }
  .tab-content {
    padding-right: 8px;
    padding-left: 8px;
  }
  .nav-tabs-c .nav-item {
    width: 50%;
  }
}
