 <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="#dashboard" class="site_title text-center">
                <%=APPNAME%>
                </a>
            </div>
            <div class="clearfix"></div>
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li>
                    <a href="#dashboard"><i class="fa fa-home"></i>Dashboard</a>
                  </li>
                  <% _.each(menuDetails, function(model) { 
                  if(model.isParent == "yes") {
                  %>
                  <% if(typeof(ROLE[model.menuLink]) != "undefined" && ROLE[model.menuLink].view == "yes") { %>
                  <li>
                    <a <% if(model.isClick == "yes") { %> href="#<%=model.menuLink%>" <%}%>><i class="fa <%=model.menuIcon%>"></i><%=model.menuName%>
                    <% if(model.subMenu.length > 0) { 
                    %>
                    <span class="fa fa-chevron-down"></span>
                    <% } %>
                    </a>
                    <% if(model.subMenu.length > 0) { 
                    %>
                    <ul class="nav child_menu">
                     <% _.each(model.subMenu, function(model2) { 
                     %>
                      <% if(typeof(ROLE[model2.menuLink]) != "undefined" && ROLE[model2.menuLink].view == "yes") { %>
                      <li>
                       <a href="#<%=model2.menuLink%>"><%=model2.menuName%></a>
                      </li>
                    <% } }); %>
                    </ul>
                  <% }  %>
                  </li>
                  <% } } });  %>

                 
                </ul> 
              </div>
            </div>
            <!-- /sidebar menu -->
           
          </div>
        </div>