/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),local('MaterialIcons-Regular');
  }
  * { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
     margin:0px;
     padding: 0px;
}
  .material-icons {
    font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  }
.emailTemplateDump{
    display: none;
}
.ws-playground{
    /*position:absolute;*/
    height: 100%;
    width: calc(100% - 400px);
    left: 0;
    top:0;
    background: rgb(244, 244, 244);
}
.ws-playground-elements{
    position:absolute;
    height: 100%;
    width: 400px;
    right:0;
    top:0;
    background: rgb(139, 139, 139);
}
.ws-section-header h2{
    
    background: #ccc;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    margin: 0;
    cursor: pointer;
}
.element-list , .ws-list-view{
    display: none;
}
.ws-playground-elements input{
    height: 30px;
    width: auto;
}
.ws-element-list.open{
    display: block;
}
.ws-element-list{
    width: 75px;
    height: 60px;
    float: left;
    background: #ccc;
    text-align: center;
    margin: 4px;
    cursor: grab;
    padding: 5px;
}
.ws-element-list:hover{
    background: rgb(126, 126, 126);
}
.ws-preview-items{
    min-height: 40px;
    max-width: 300px;
    background: #fff;
    box-shadow: 1px 1px 1px #ccc;
}
.ws-hovered{
    border: 1px dashed #ccc;
}
.ws-element-container ,.ws-right-actions{
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #a2a2a2;
    box-shadow: 3px 4px 6px #00000029;
    background: #ccc;
}
.ws-element-wrapper{
    background: #fff;
    width: calc(100% - 52px);
    min-height: 60px;
    padding: 15px;
    margin-top: -4px;
    display: inline-block;
    border: 12px solid #e8e8e8;
}
.rowHeaders {
    margin-top: 15px;
    position: relative;
    width: calc(100% - 52px);
}
.rowHeaders .row-action-header {
    position: absolute;
    right: 0;
    top: 0;
    background: #e8e8e8;
    padding: 2px 4px;
}
.rowHeaders ul.act-headers{
    margin: 0px;
    padding: 0px;
    width: auto;
    display: inline;
    cursor: pointer;
}
.rowHeaders ul.act-headers li{
    display: inline;
    background: #ccc;
    padding: 15px 5px 5px 5px;
    position: relative;
    line-height: 27px;
}
.rowHeaders ul.act-headers li.move-row
{
    margin-left: 10px;
    font-size: 21px;
}
.rowHeaders ul.act-headers li:hover{
    border-bottom: 1px solid #000;
}
.rowHeaders ul.act-headers li.col-type{
background: url(images/columns.png), #ececec;
width: 40px;
height: 30px;
display: inline-block;
padding: 6px 6px 6px 3px;
background-size: 493px;
background-repeat: no-repeat;
background-position: -3px 6px;
}
.rowHeaders ul.act-headers li.move-row{
background: #e8e8e8;
width: 30px;
}

.rowHeaders ul.act-headers li .column-selected{
    background-position: 0px 6px;
}

.rowHeaders ul.act-headers li.moreoption{display: none;}
.rowHeaders ul.act-headers:hover .moreoption{
    display: inline-block;
}
.rowHeaders ul.act-headers li.col-type-1{
background-position: 0px 6px;
}
.rowHeaders ul.act-headers li.col-type-2{
background-position: -40px 6px;
}
.rowHeaders ul.act-headers li.col-type-3{
background-position: -82px 6px;
}
.rowHeaders ul.act-headers li.col-type-4{
background-position: -125px 6px;
}
.rowHeaders ul.act-headers li.col-type-5{
background-position: -166px 6px;
}
.rowHeaders ul.act-headers li.col-type-6{
background-position: -208px 6px;
}
.rowHeaders ul.act-headers li.col-type-7 {
background-position: -246px 6px;
}
.rowHeaders ul.act-headers li.col-type-8{
background-position: -288px 6px;
}
.rowHeaders ul.act-headers li.col-type-9{
background-position: -330px 6px;
}
.rowHeaders ul.act-headers li.col-type-10{
background-position: -369px 6px;
}
.rowHeaders ul.act-headers li.col-type-11{
background-position: -409px 6px;
}
.rowHeaders ul.act-headers li.col-type-12{
background-position: -452px 6px;
}
.rowHeaders ul.act-headers li.col-type-12{
background-position: -451px 6px;
}
.ws-col-header{
    width: 100%;
    background: #e8e8e8;
    text-align: center;
}
.ws-row-col.inline{
    position: relative;
}
.ws-row-col.inline .ws-col-header{
    display: none;
    position: absolute;
}
.ws-row-col.inline:hover .ws-col-header{
    display: block;
}

.ws-col-header .material-icons{
font-size: 12px;
}
.ws-row-col{
    border: 2px solid #e8e8e8;
    margin: 2px;;
    min-height: 40px;
    float: left;
}
.ws-row-col.inline{
    padding-top: 15px;
}
.ws-row-col.inline .ws-col-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.ws-col-size-12
{
    width: calc(((100% / 12) * 12) - 8px);
}
.ws-col-size-11
{
    width: calc(((100% / 12) * 11) - 8px);
}
.ws-col-size-10
{
    width: calc(((100% / 12) * 10) - 8px);
}
.ws-col-size-9
{
    width: calc(((100% / 12) * 9) - 8px);
}
.ws-col-size-8
{
    width: calc(((100% / 12) * 8) - 8px);
}
.ws-col-size-7
{
    width: calc(((100% / 12) * 7) - 8px);
}
.ws-col-size-6
{
    width: calc(50% - 8px);
}
.ws-col-size-5
{
    width: calc(((100% / 12) * 5) - 8px);
}
.ws-col-size-4
{
    width: calc(((100% / 12) * 4) - 8px);
}
.ws-col-size-3
{
    width: calc(((100% / 12) * 3) - 8px);
}
.ws-col-size-2
{
    width: calc(((100% / 12) * 2) - 8px);
}
.ws-col-size-1
{
    width: calc(100% - 8px);
}
.col-setting-holder{
-webkit-flex-grow: initial;
    -ms-flex-positive: initial;
    flex-grow: initial;
}
.col-setting-holder *{
    margin: 44px;
    position: relative;
}
.col-setting-holder{
    margin-bottom: 45px;
}
.col-setting-holder input{
    position: absolute;
    text-align: center;
    padding: 3px 0;
    height: 24px;
    width: 34px;
    margin: 0;
        margin-top: 0px;
    border: 1px solid #bdbdbd;
    font-size: 11px;
    line-height: 11px;
}
.ws-margin-list , .ws-border-list , .ws-padding-list,.ws-holder-list{
   border: 1px solid #bababa;
    padding: 0;
    text-align: center;
    font-size: 10px;
    line-height: 11px;
    box-sizing: border-box;
}
.col-setting-holder label {
    position: absolute;
    font-size: 9px;
    line-height: 9px;
    top: 6px;
    left: 5px;
    color: #2c2c2c;
    margin: 0;
    padding: 0;
}

.ws-col-m,.ws-col-b,.ws-col-p {
    z-index: 1;
    position: absolute;
}
.ws-col-m:nth-child(1), .ws-col-b:nth-child(1), .ws-col-p:nth-child(1){
    top: 0;
    left: 50%;
    margin-left:-17px;
    width: 30px;
}
.ws-col-m:nth-child(2),.ws-col-b:nth-child(2),.ws-col-p:nth-child(2){
    right: 9px;
    width: 30px;
    top: 50%;
    margin-top: -12px; 
}
.ws-col-m:nth-child(3),.ws-col-b:nth-child(3),.ws-col-p:nth-child(3){
    bottom: 0px;
    left: 50%;
    margin-left:-17px;
    width: 30px;
}
.ws-col-m:nth-child(4),.ws-col-b:nth-child(4),.ws-col-p:nth-child(4){
    left: 10px;
    width: 30px;
    margin-top: -12px;
    top: 50%;
}
.ws-padding-list{
    background: #fff;
}
.ws-border-list{
    background: #ccc;
}
.ws-border-setting select {
    height: 36px;
    min-width: 78px;
    display: block;
    float: left;
    margin-right: 10px;
}
.ws-border-setting .ws-border-size{
    height: 30px;
    float: left;
    margin-right: 10px;
    width: 50px;
}
.ws-border-setting .minicolors{
float: left;
height: 31px;
}
.ws-border-setting .minicolors input, .ws-background-setting .minicolors input{
    height: 30px;
}
.ws-data-element{
    position: relative;
}
.ws-data-element .elm-action{
    position: absolute;
    top: 10%;
    background: #88d01b;
    padding: 1px;
    border-radius: 4px;
    display: none;
    left: calc( 50% - 30px);
}
.ws-data-element:hover .elm-action{
    display: block;
}
.wc_control-btn-move .material-icons ,.wc_control-btn-edit .material-icons,.wc_control-btn-del .material-icons{
    font-size: 20px;
    margin: 5px 5px;
}
.wc_control-btn-move .material-icons{
    transform: rotate(45deg);
}
.ws-editer{
    background: #fff;
}
.ws-section-header{
    position: relative;
}
.ws-section-header .ws_r_action_btn{
    position: absolute;
    right: 5px;
    top:10px;
}
.paragraph-text{
    word-break: break-word;
}
.paragraph-text ol,.paragraph-text ul{
    padding: revert;
}
.ws-row-col .ui-state-default{
    border: unset;
    background:transparent;
    font-weight: unset;
}
.ql-editor{
height: 300px;
overflow: scroll;
}
.text-list{
    height: calc(100vh - 120px);
    overflow: scroll;
}
.ws-border-setting , .ws-background-setting{
    display: inline-block;
    width: 100%;
}
.ql-align-left{
    text-align: left;
}

.ql-align-center{
    text-align: center;
}
.ql-align-right{
    text-align: right;
}
.ql-align-justify{
    text-align: justify;
}
.custom-html-txt{
    visibility: hidden;
    height: 0;
}