.chat{
    width:100%;
}
.left-text{
    width: 80%;
}
.right-text{
    width: 20%;
}
/* ------------------------------------------------
#Large devices (desktops, 992px and up)
-------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .noFooter .p1{
        font-size: 12px!important;
    }
}
/* ------------------------------------------------
#Medium devices (tablets, 768px and up)
-------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991.98px) { 

}
/* ------------------------------------------------
#for Small devices (landscape phones, 576px and up)
-------------------------------------------------*/
@media (min-width: 576px) and (max-width: 767px) { 
    .admin-height .helpful-section.noFooter {
        max-height: unset!important;
        padding-bottom: 24px;
        margin-bottom: 0px;
    }
    .table-responsive{
        overflow-x: unset;
    }
    .helpful-section.noFooter{
        height: unset;
    }
    .nav-tabs-c{
        width:100%;
        text-align: center;
    }
    .nav-tabs-c .nav-item{
        width: 25%;
    }
    .nav-tabs-c .nav-link{
        padding: 16px 0px;
    }
    .project .nav-tabs .nav-item a{
        width: 100%;
        font-size: 18px;
    } 
    .admin-height .full-left.noFooter{
        height: 100%;
    }
    .section-nav{
        padding: 0px;
    }
    .sub-myaccount {
        position: absolute;
        top: 50px;
        padding: unset!important;
    }
    .sub-myaccount a {
        color: #000;
        position: relative;
        right: 16px;
        font-weight: 500;
        font-size: 17px;
    }
    .tab-content #project{
        max-height: unset;
        overflow-y: unset;
    }
    .tab-pane .tab-body{
       padding: 10px;
    }
    .full-left{
        padding-top: 0px;
    }
    .project .full-left.noFooter{
        padding: 0px;
        margin-top: 0px;
    }
    .mobile-tab-body{
        padding: 15px!important;
    }
    .default-content{
        margin-top: 40px;
    }
    .ad-select{
        margin-top: 0px
    }
    .mobile-col{
        padding-left: 8px;
        padding-right: 8px;
    }
    .mobile-col-3{
        padding-left: 8px;
        padding-right: 8px;
    }
    .ad-select .default-view {
        margin-top: 100px;
    }
    .project{
        padding-right: 8px;
        padding-left: 8px;
    }
    .messageout .footer{
        position: absolute;
        bottom: 0px;
    }
    .mobile-changes1{
        padding-right: 8px;
        padding-left: 8px;
    }
   }
/* --------------------------------------
#for smart phone screen 320px to 576px
----------------------------------------*/
@media (min-width: 320px) and (max-width: 576px){
    .admin-height .helpful-section.noFooter {
        max-height: unset!important;
        padding-bottom: 24px;
        margin-bottom: 0px;
        margin-top: 3px
    }
    .helpful-section.noFooter{
        height: unset;
    }
    .table-responsive{
        overflow-x: unset;
    }
   .admin-height .full-left.noFooter{
         height: 100%;
         margin-top: 10px;
     }
     .admin-height .full-left.noFooter{
         height: 100%;
     }
    .nav-tabs-c .nav-item{
        width: 50%;
        text-align: center;
    }
    .tab-content #project{
        max-height: unset;
        overflow-y: unset;
    }
    .tab-pane .tab-body{
        padding: 10px;
    }
    .sub-myaccount{
        position: absolute;
        top: 50px;
        padding: unset!important;
    }
    .sub-myaccount a {
        color: #000;
        position: relative;
        right: 16px;
        font-weight: 500;
        font-size: 17px;
    }
    .section-nav{
        padding: 0px;
        border-bottom:none;
    }
    .nav-tabs-c .nav-link {
        padding: 13px 0px;
    }
    .full-left{
        padding-top: 0px;
    }
    .project .full-left.noFooter{
        padding-top: 0px;
        padding-left: 0px;
        margin-top: 0px;
    }
    /* .mobile-tab-body{
        padding: 20px!important;
    } */
    .default-view{
        padding-top: 20px!important;
        padding-left: 20px;
    }
    .mobile-col{
        padding-left: 8px;
        padding-right: 8px;
    }
    .mobile-col-3{
        padding-left: 8px;
        padding-right: 8px;
    }
    .ad-select .default-view {
        margin-top: 100px;
    }
    .project{
        padding-right: 8px;
        padding-left: 8px;
    }
    .tab-content #project, .tab-content #trlq, .tab-content #document{
        max-height: unset;
    }
    .tab-content #teamdetail{
        max-height: unset;
    overflow-y: unset;
    }
    .messageout .footer{
        position: absolute;
        bottom: 0px;
    }
    .default-msg span{
        position: absolute;
        left: 13px;
        top: 65px;
    }
    .messageout .header{
        background-color: #212121;
    }
    .mobile-changes1{
        padding-right: 8px;
        padding-left: 8px;
    }
   


}
