body {
  font-family: "Work Sans", sans-serif;
  color: #212121;
  font-weight: 300;
}
#portal {
  font-family: "Work Sans", sans-serif;

  color: #fff;

  font-weight: 300;
}
#portal-space {
  margin-top: 70px;
}
.mentor-dash {
  position: relative;
  height: calc(100vh - 100px);
  background: #2a2a2b;
  /* padding: 30px; */
  margin: 20px;
}
#mentorList_wrapper {
  padding: 20px;
}
#mentorList_wrapper #mentorList_length {
  display: none;
}
#mentorList_wrapper #mentorList_filter input[type="search"] {
  background: #212121;
  border: none;
  padding-left: 30px;
}
.mentor-dash table {
  color: #fff;
}
.mentor-dash .table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #c8c8c83d;
  color: #c8c8c8;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
.men-fina {
  position: absolute;
  top: 22px;
  left: 10px;
}
.men-fina h4 {
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  width: max-content;
}
/* .mentor-dash .men-search {
  position: absolute;
  right: 210px;
  z-index: 1;
  top: 25px;
} */
#teamdetail .teammember-list-details {
  list-style-type: none;
  padding-inline-start: 0px;
}
#teamdetail .teammember-list-details li {
  border-bottom: 1px solid #c8c8c83d;
  padding: 20px;
}
.questionDetails p {
  padding-bottom: 13px;
  border-bottom: 1px solid #c8c8c83d;
}
form .show-pass i {
  position: absolute;
  right: 0px;
}
#mentorList_previous,
#mentorList_next {
  display: none;
}
#mentorList_paginate .pagination .page-item.active .page-link {
  color: #757af7;
  background-color: #fff;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  padding: 3px 9px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  line-height: 19px;
}
#mentorList_paginate .pagination .page-item .page-link {
  color: #c8c8c8;
  background-color: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
}
.mentor-dash .table-responsive {
  padding-top: 3em;
}
input[type="search"] {
  background: #2a2a2b;
  border-radius: 2px;
  height: 35px;
  border: none;
  width: 187px;
  margin-left: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding-left: 35px;
  /* position: relative;
      padding-left: 30px;
      width: 128px;
      display: inline-block; */
}
.bx-search:before {
  content: "\eb54";
  font-size: 20px !important;
  position: absolute;
  right: 11.5%;
}

@media (max-width: 768px) {
  .mentor-dash .table-responsive {
    padding-top: 7em;
  }
  input[type="search"] {
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    top: 10%;
  }
  .bx-search:before {
    left: 7.5%;
    top: 11%;
  }
}
