@media (max-width: 768px){
    .wename{
        display: none;
    }
    .myprofile {
        min-width: 100px;
    }
    .mobile-nav-toggle{
        position: unset;
    }
    .eval-dash{
        margin: unset;
    }
    .eva-cate-head{
        width: unset;
    }
    #portal-space{
        margin-top: 40px;
    }
    .eval-table{
        margin-top: 45px;
    }
    /* .eva-mem .mob-txt{
        display: none;
    }
    div.dataTables_wrapper div.dataTables_filter input{
        display: none;
    }
    .search-icon{
        display: none;
    } */
    .nav-tabs-c{
        width: 100%;
    }
    .nav-item{
        width: 33.33%;
        text-align: center;
    }
    .nav-item a{
        width: 100%;
    }
    .div.dataTables_wrapper div.dataTables_filter input{
        display: unset;
    }






}